/** Structure de la page**/

html {
    scroll-behavior: smooth;
    background-color: black;
}

.row-span2 {
    display: flex;
    flex-direction: row;
}

.col-span {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
}

nav {
    left: 0;
    top: 0;
    position: fixed;
    min-height: 100vh;
    background-color: rgba(8, 8, 8, 0.9);
    z-index: 100;
}

#trueBody {
    position: absolute;
    right: 0px;
    flex-grow: 0;
    margin-right: 0;
    padding-right: 0;
    width: 93vw;
}

header {
    display: flex;
    flex-direction: column;
    min-width: 85vw;
    align-items: center;
}

section~section {
    position: relative;
    top: -15vh
}

section .blockDeTrois {
    display: flex;
    flex-direction: column;
    border-top: solid 1px white;
}

section .blockDeTrois~.blockDeTrois {
    position: relative;
    top: -10vh;
    border-top: none;
}

@font-face {
    font-family: 'comfortaaregular';
    src: url('FONT/webfontkit-20220318-060356/comfortaa-regular-webfont.woff2') format('woff2'), url('FONT/webfontkit-20220318-060356/comfortaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/** autre **/

h1 {
    align-items: center;
    color: white;
    text-shadow: 0px 3px 2px rgb(255, 0, 0);
    font-size: 2em;
    font-family: 'comfortaaregular';
}

h2 {
    align-items: center;
    color: white;
    font-size: 1.7em;
    font-style: bold;
    font-family: 'comfortaaregular';
    text-shadow: 0px 3px 2px blue;
}

h3 {
    font-style: bold;
    font-family: 'comfortaaregular';
    color: white;
    transform: translateX(1vw);
    transition: transform 0.5s ease-in-out;
}


/** Bouton avec flou pour chaque projet **/

.bt {
    width: 32%;
    height: auto;
    padding: 1%;
    text-decoration: none;
}

.des {
    display: flex;
    flex-direction: column;
    font-family: 'comfortaaregular';
    color: white;
    text-shadow: 0px 3px 2px black;
    width: 100%;
    position: relative;
    align-items: center;
    top: -25px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.bt img {
    transition: 0.5s;
}

.bt:hover img {
    filter: blur(8px);
    transition: filter 0.5s ease-in-out;
}

.bt:hover .des {
    transform: translateY(-25vh);
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

section img {
    width: 100%;
}

.bt p:hover {
    cursor: pointer;
}

.bt p {
    padding-left: 10px;
}


/** Bouton pour afficher le menu **/


nav .menu-col-span {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

nav .menu-row-span {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 0;
}

nav input[type="checkbox"]:not(:checked)~div ul {
    transform: scaleX(0%);
    width: 0;
    transition: all 0.5s ease-in-out;
}

nav input[type="checkbox"]:checked~div ul {
    transform: scaleX(100%);
    padding-right: 10px;
    transition: all 0.5s ease-in-out;
}

nav input[type="checkbox"]:not(:checked)~div h3 {
    transform: scaleX(0);
    width: 0;
    transition: all 0.5s ease-in-out;
}

nav input[type="checkbox"]:checked~div h3 {
    display: flex;
    transition: all 0.5s ease-in-out;
}


/** bouton anime **/

nav .menuBt {
    background-color: transparent;
}

nav input {
    cursor: pointer;
}

nav input:checked {
    z-index: 1;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    top: 15px;
    appearance: none;
    background-color: transparent;
    color: transparent;
    width: 20px;
    height: 20px;
    right: 25px
}

nav input:not(:checked) {
    z-index: 1;
    position: relative;
    top: 15px;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: transparent;
}

nav input:not(:checked)+span {
    z-index: 0;
    content: none;
    position: relative;
    width: 20px;
    height: 4px;
    background-color: white;
    top: 25px;
    left: 0px;
    transition: background-color 0.5s ease-in-out;
}

nav input:checked+span {
    z-index: 0;
    content: none;
    position: relative;
    width: 20px;
    height: 4px;
    background-color: transparent;
    top: 25px;
    transition: background-color 0.5s ease-in-out;
}

nav input+span::before,
nav input+span::after {
    z-index: 0;
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: white;
}

nav input:not(:checked)+span::before {
    transform: translateY(-8px);
    transition: transform 0.5s ease-in-out;
}

nav input:not(:checked)+span::after {
    transform: translateY(8px);
    transition: transform 0.5s ease-in-out;
}

nav input:not(:checked)+span {
    z-index: 0;
    content: none;
    position: relative;
    width: 20px;
    height: 4px;
    background-color: white;
    top: 25px;
    left: 24px;
}

nav input:checked+span::before {
    transform: translateY(0px) rotateZ(45deg);
    transition: transform 0.5s ease-in-out;
}

nav input:checked+span::after {
    transform: translateY(0px) rotateZ(-45deg);
    transition: transform 0.5s ease-in-out;
}


/** Menu **/

nav ul {
    list-style: none;
}

nav li {
    font-family: 'comfortaaregular';
    padding-right: 1vw;
    transition: all 0.5s ease-in-out;
}

nav li:hover {
    color: rgb(255, 0, 0);
    font-family: 'comfortaaregular';
    padding-right: 0;
    padding-left: 1vw;
    transition: all 0.5s ease-in-out;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover a {
    color: red;
}