/** Structure de la page**/

body {
    display: flex;
    background-color: rgb(42, 40, 40);
    align-items: end;
    margin: 0px;
}

.row-span2 {
    display: flex;
    flex-direction: row;
}

.row-span {
    display: flex;
    flex-direction: row-reverse;
}

.col-sapn {
    display: flex;
    flex-direction: column;
}

nav {
    width: fit-content;
    min-height: 100vh;
    background-color: rgb(29, 29, 29);
}

header {
    display: flex;
    flex-direction: column;
    min-width: 85vw;
    align-items: center;
}


/** autre **/

h1 {
    align-items: center;
    color: rgb(255, 0, 0);
}

h2 {
    align-items: center;
    color: rgb(0, 102, 255);
}


/** Bouton avec flou pour chaque projet **/

.bt {
    width: 32%;
    height: auto;
    padding: 1%;
}

.des {
    color: red;
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    top: -25px;
    transition: 0.5s;
    opacity: 0;
}

.bt:hover img {
    margin: 0px;
    border: 0px;
    filter: blur(8px);
}

.bt:hover .des {
    transition: 0.5s;
    transform: translateY(-7vh);
    opacity: 1;
}

section img {
    width: 100%;
}

.bt p:hover {
    cursor: pointer;
}

.bt p {
    padding-left: 10px;
}


/** Bouton pour afficher le menu **/

nav .menu-col-span {
    display: flex;
    flex-direction: column;
}

nav .menu-row-span {
    display: flex;
    flex-direction: row-reverse;
}

nav input[type="checkbox"]:not(:checked)~div ul {
    transform: scaleX(0%);
    transition: transform 0.5s ease-in-out;
    width: 0;
}

nav input[type="checkbox"]:checked~div ul {
    transform: scaleX(100%);
    transition: transform 0.5s ease-in-out;
    padding-right: 10px;
}

nav input[type="checkbox"]:not(:checked)~div h3 {
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    width: 0;
}

nav input[type="checkbox"]:checked~div h3 {
    transition: 0.5s;
    display: flex;
}


/** bouton anime **/

nav .menuBt {
    background-color: transparent;
}

nav input {
    cursor: pointer;
}

nav input:checked {
    z-index: 1;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    top: 15px;
    appearance: none;
    background-color: transparent;
    color: transparent;
    width: 20px;
    height: 20px;
}

nav input:not(:checked) {
    z-index: 1;
    position: relative;
    top: 15px;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: transparent;
}

nav input:not(:checked)+span {
    z-index: 0;
    content: none;
    position: relative;
    width: 20px;
    height: 4px;
    background-color: white;
    top: 25px;
    left: 24px;
    transition: background-color 0.5s ease-in-out;
}

nav input:checked+span {
    z-index: 0;
    content: none;
    position: relative;
    width: 20px;
    height: 4px;
    background-color: transparent;
    top: 25px;
    left: 13px;
    transition: background-color 0.5s ease-in-out;
}

nav input+span::before,
nav input+span::after {
    z-index: 0;
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: white;
}

nav input:not(:checked)+span::before {
    transform: translateY(-8px);
    transition: transform 0.5s ease-in-out;
}

nav input:not(:checked)+span::after {
    transform: translateY(8px);
    transition: transform 0.5s ease-in-out;
}

nav input:not(:checked)+span {
    z-index: 0;
    content: none;
    position: relative;
    width: 20px;
    height: 4px;
    background-color: white;
    top: 25px;
    left: 24px;
}

nav input:checked+span::before {
    transform: translateY(0px) rotateZ(45deg);
    transition: transform 0.5s ease-in-out;
}

nav input:checked+span::after {
    transform: translateY(0px) rotateZ(-45deg);
    transition: transform 0.5s ease-in-out;
}


/** Menu **/

nav li {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

nav li:hover {
    color: rgb(255, 0, 0);
}

h3 {
    color: antiquewhite;
}